<div class="container" id="ranking">
    <div class="header">
        <div class="title">RANKING TASA</div>
        <div class="user" style="font-size: 5vh;">{{user.name}}</div>
        <div class="progress-tasa">
            <div class="icon" v-html="user.levelImage" style="width: 8vh; height: 8vh; margin-bottom: 50%;">
                {{user.levelImage}}
            </div>
            <div class="info">
                <div class="level">Nivel: {{user.levelName}}</div>
                <div class="progress-tasa">
                    <div class="progress-bar-tasa">
                        <div class="defauld" :style="'width: '+user.percentage+'%'"></div>
                    </div>
                </div>
                <div class="point">{{user.points}} millas nauticas obtenidas</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="niveles">
            <h2>Niveles</h2>
            <div class="before" @click="prevBaner" style="cursor: pointer;">◄ </div>
            <div class="body" id="levelsContainer">
                <div id="leves">
                    <div class="item" v-for="item in levels" v-bind:class="{ actual: user.levelName == item.name }">
                        <div class="level">Nivel {{item.number}}</div>
                        <div class="icon" v-html="item.img">
                            {{item.img}}
                        </div>
                        <div class="name">{{item.name}}</div>
                        <div class="points">{{item.pointMin}} - {{item.pointMax}} millas</div>
                    </div>
                </div>
            </div>
            <div class="after" @click="nextBaner" style="cursor: pointer;">►</div>
        </div>
        <div class="ranking">
            <h2>Ranking de temporada</h2>
            <button class="cargar-button mb-10" @click="cargarRanking">Cargar Ranking</button>
            <div class="body">
                <div class="left">
                    <img src="/local/ranking/img/loading.gif" v-if="loadingAreas" />
                    <div class="table" v-else>
                        <div class="header-table">
                            <div class="item"></div>
                            <div class="item">Área</div>
                            <div class="item">Puntos</div>
                        </div>
                        <div class="body-table">
                            <div class="list" v-for="(item, key) in areas">
                                <div class="item" style="width: 9%">{{key+1}}</div>
                                <div class="item" style="width: 47%">{{item.name}}</div>
                                <div class="item">{{item.punto}} millas naúticas</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <img src="/local/ranking/img/loading.gif" v-if="loadingUsers" />
                    <div class="table" v-else>
                        <div class="header-table">
                            <div class="item"></div>
                            <div class="item" style="width: 19% !important;">Participante</div>
                            <div class="item">Puntos</div>
                            <div class="item">Nivel</div>
                        </div>
                        <div class="body-table">
                            <div class="list" v-for="(item, key) in users">
                                <div class="item">{{item.pos}}</div>
                                <div class="item" style="width: 0 !important;" v-html="item.img">
                                    {{item.img}}
                                </div>
                                <div class="item"><span>{{item.name}}</span></div>
                                <div class="item">{{item.punto}}</div>
                                <div class="item">{{item.level}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>