{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/columns2

    Admin time setting template.

    remui 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_remui/head }}

<body {{{ bodyattributes }}}>
{{#focusdata.enabled}} {{> theme_remui/navbar_fm }} {{/focusdata.enabled}}
{{> theme_remui/navbar }}
{{> theme_remui/nav-drawer }}
<div id="page-wrapper">
{{{ output.standard_top_of_body_html }}}
<div id="page">
    <div class="edwiser-notice position-fixed mt-10" style="display: none; z-index: 1500;left: 50%;transform: translateX(-50%);" role="alert">
    </div>
{{{ output.render_site_announcement }}}
{{#homepage}}
    <div>
{{/homepage}}
{{^homepage}}
    <div class="container p-0 mw-100">
        <div class="cover card card-inverse rem-staticimage border-0">
            <img style="height: 35vh;" class="card-img w-full" src="{{URL}}" alt="Card image">
            <div class="carousel-caption cover-background centered card-img-overlay w-p75 white" style="padding-top: 35px !important; left: 14% !important;">
                <div class="text_to_html">
                    <div style="text-align:left;font-size: 3vh;padding-left: 2px;">Bienvenido</div>
                    <div style="text-align:left;">
                        <div class="dd-username-label">{{username}}</div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0;">
                    {{{levelbadge}}}
                    <div class="d-info-level">
                        <div class="text-left" style="font-size: 2.2vh;">Nivel: {{levelname}}</div>
                        <div>{{{progressbar}}}</div>
                        <div class="text-left d-level-text">{{points}} millas naúticas obtenidas</div>
                    </div>
                </div>
            </div>
        </div>
{{/homepage}}
<div id="page-content" class="row {{^homepage}}pb-3{{/homepage}} {{#homepage}}m-0 w-p10 pb-0{{/homepage}}">

    <div style="text-align: center; margin: auto; width: 75%; height: 100%">
        <div class="container mt-5 mb-5">
            <div class="row" style="padding-bottom: 2%; padding-left: 6%;">
                <div class="col-sm" style="width: 70%;">
                    <div style="text-align: left;color: #154A7D; font-weight: 500;font-size: 22px;float: left;">Cursos pendientes</div>
                </div>
                <div class="col-sm" style="width: 20%; max-width: 25%;">
                    <i type="button" class="prev fa fa-chevron-left dd-fa-disabled" style="font-size:24px; color: #154A7D"></i>
                    <i type="button" class="next fa fa-chevron-right" style="font-size:24px; color: #154A7D; padding-left: 5%"></i>
                </div>
            </div>
            <div class="viewport">
                <input type="hidden" id="totalCourses" value="{{{totalcourses}}}">
                <div class="slider">
                    {{{pendingCoursesHtml}}}
                </div>
            </div>
            <div style="margin-top: 3%;">
                <div style="width: 92%; margin: auto;">
                    <div style="text-align: left; color: #154A7D; padding-bottom: 2%; font-weight: 500; font-size: 22px; padding-right: 42.5%; padding-left: 3%;">Mis cursos</div>
                    <div>
                        <div class="row" style="margin: auto;">
                            {{{courseshtml}}}
                        </div>
                    </div>
                </div>
                <div class="pt-5 pb-4">
                    <input type="button"
                           style="background: #A8A9AD 0 0 no-repeat padding-box; border-radius: 4px; color: #FFFFFF; width: 20vh; height: 4vh; vertical-align: center; font-size: 1.5vh; line-height: 2px;" id="loadMore"
                           class="btn-sm"
                           value="Cargar más cursos"/>
                </div>
            </div>
            {{{seguimientoHtml}}}
        </div>
    </div>

<div id="region-main-box" style="margin: auto; width: 70%;">
{{#hasregionmainsettingsmenu}}
        <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
            <div> {{{ output.region_main_settings_menu }}} </div>
        </div>
{{/hasregionmainsettingsmenu}}
{{> theme_remui/page_aside}}

{{#js}}
require(['theme_remui/loader'], function () {
  Breakpoints();
});
        $('#myModal').on('show.bs.modal', function (event) {
        var myVal = $(event.relatedTarget).data('val');
        $(this).find(".ss-message-title-1").text('MENSAJE PARA ' + myVal);
        });

        function addBreadcrumb($element) {
        if(!$element.hasClass('clicked')) {
        var $newThis = $element.clone();
        $newThis.addClass('clicked');
        $('.ss-breadcrumb:last').append('<div style="padding-left: 1%; padding-right: 1%;"> > </div>');
        } else {
        var $newThis = $element;
        }

        $newThis.css('opacity','1');
        $newThis.nextAll('div').remove();
        $newThis.removeClass('col-sm');
        $('.ss-breadcrumb:last').append($newThis);
        $newThis.text($newThis.text().toUpperCase());
        $newThis.prevAll('div').css('opacity','0.5');
        }

        function addIds() {
            var Ids = '';
            $('.carta-general').attr('ids', '');

            $('.ss-container:visible').each(function(){
                if($(this).find('.personaIds').val() !== undefined) {
                    Ids = Ids + $(this).find('.personaIds').val() + ',';
                }
            });
            Ids = Ids.replace(/,\s*$/, "");
            $('.carta-general').attr('user-ids', Ids);
        }

        function addExcel(courseId) {
            $('.excel-general').attr('course-id', courseId);
        }

        var total = $(".d-total").attr('data-value');

        $(".d-progress").each(function() {
        var value = $(this).attr('data-value');
        var left  = $(this).find('.d-progress-left .d-progress-bar');
        var right = $(this).find('.d-progress-right .d-progress-bar');

        if (value > 0) {
        if (value <= 50) {
        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
        } else {
        right.css('transform', 'rotate(180deg)')
        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
        }
        }
        })

        $(".d-progress-p").each(function() {
        var value = ($(this).attr('data-value') / total) * 100;
        var left  = $(this).find('.d-progress-p-left .d-progress-p-bar');
        var right = $(this).find('.d-progress-p-right .d-progress-p-bar');

        if (value > 0) {
        if (value <= 50) {
        left.css('transform', 'rotate(-' + percentageToDegrees(value) + 'deg)')
        } else {
        left.css('transform', 'rotate(180deg)')
        right.css('transform', 'rotate(-' + percentageToDegrees(value - 50) + 'deg)')
        }
        }
        })

        function percentageToDegrees(percentage) {
        return percentage / 100 * 360
        }

        $(function () {
        //cantidad cursos TOP
        var cantidadRows = 10;

        if($(".d-course-row").length > cantidadRows) {
        $("#loadMore").addClass('display');
        }

        $(".d-course-row").slice(0, cantidadRows).addClass('display');
        $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".d-course-row:hidden").slice(0, cantidadRows).addClass('display');
        if ($(".d-course-row:hidden").length == 0) {
        $("#load").fadeOut('slow');
        $("#loadMore").hide();
        }
        });
        });

        var items = $('.viewport .slider div'),
        total = $('#totalPending').val(),
        limit = 4,
        index = 0,
        multiplier = 0,
        cardWidth = 17;

        $('.next').click(function () {
        var canMove = Number(total)+Number(multiplier) > limit && total >= limit;
        if(canMove) {
        multiplier -= 1;
        widthMoved = cardWidth * multiplier;
        $('.fa-chevron-right').removeClass('dd-fa-disabled');
        $('.fa-chevron-left').removeClass('dd-fa-disabled');
        cycle('next');
        canMove = Number(total)+Number(multiplier) > limit && total >= limit;
        if(!canMove) {
        $('.fa-chevron-right').addClass('dd-fa-disabled');
        }
        } else {
        $('.fa-chevron-right').addClass('dd-fa-disabled');
        }
        });

        $('.prev').click(function () {
        var canMove = multiplier != 0 && total >= limit;
        if(canMove) {
        multiplier += 1;
        newWidthMoved = cardWidth * multiplier;
        $('.fa-chevron-right').removeClass('dd-fa-disabled');
        $('.fa-chevron-left').removeClass('dd-fa-disabled');
        cycle('prev');
        canMove = multiplier != 0 && total >= limit;
        if(!canMove) {
        $('.fa-chevron-left').addClass('dd-fa-disabled');
        }
        } else {
        $('.fa-chevron-left').addClass('dd-fa-disabled');
        }
        });

        function cycle(direction) {
        item = $('.viewport .slider div.slide').slice(index, total);
        if(direction == 'next') {
        item.css({
        "transform": "translateX("+widthMoved+"vw)"
        })
        } else {
        item.css({
        "transform": "translateX("+newWidthMoved+"vw)"
        })
        }
        }

        $(document).on('click', '.main-clickable', function() {
            $('.ss-container').hide();
            $('.ss-main-container').show();
            $(this).nextAll('div').remove();
            $(this).css('opacity','1');
            $('.carta-general').find('img').css('opacity', 0.5);
            $('.carta-general').find('img').css('cursor', 'auto');
            $('.carta-general').attr('data-target', '');
            $('.excel-general').find('img').css('opacity', 0.5);
            $('.excel-general').find('img').css('cursor', 'auto');
            $('.excel-general').attr('data-target', '');
            $('.excel-general').removeClass('excel-clickable');
        });

        $(document).on('click', '.cat-clickable', function() {
            var currentElement = $(this);
            var catId = $(this).attr('data-id');

            var data = {
                catId: catId,
                request_type: 'get_courses_by_category'
            };

            $.ajax({
                type: "POST",
                url: "ajax_controller_seguimiento.php",
                data: data,
                beforeSend: function() {
                    $('#loadingDiv').show();
                },
                success: function(res) {
                    var elementToShow = $.parseHTML(res.data.html);
                    $('.carta-general').find('img').css('opacity', 0.5);
                    $('.carta-general').find('img').css('cursor', 'auto');
                    $('.carta-general').attr('data-target', '');
                    $('.excel-general').find('img').css('opacity', 0.5);
                    $('.excel-general').find('img').css('cursor', 'auto');
                    $('.excel-general').attr('data-target', '');
                    $('.excel-general').removeClass('excel-clickable');

                    $('.ss-container').hide();
                    $('#seguimiento-content').append(elementToShow);
                    addBreadcrumb(currentElement);
                    $('#loadingDiv').hide();
                }
            });
        });

        function openDataSS(dataOpen, $this) {
            var zona, area, division, tipoPersonal = '';
            if($this.attr('zona-name')) {
                zona = $this.attr('zona-name');
            }
            if($this.attr('area-name')) {
                area = $this.attr('area-name');
            }
            if($this.attr('division-name')) {
                division = $this.attr('division-name');
            }
            if($this.attr('tipo-personal-name')) {
                tipoPersonal = $this.attr('tipo-personal-name');
            }

            var data = {
                courseId: $this.attr('course-id'),
                zona: zona,
                area: area,
                division: division,
                tipoPersonal: tipoPersonal,
                request_type: dataOpen
            };

            $.ajax({
                type: "POST",
                url: "ajax_controller_seguimiento.php",
                data: data,
                beforeSend: function() {
                    $('#loadingDiv').show();
                },
                success: function(res) {
                    var elementToShow = $.parseHTML(res.data.html);
                    $('.carta-general').find('img').css('opacity', 0.5);
                    $('.carta-general').find('img').css('cursor', 'auto');
                    $('.carta-general').attr('data-target', '');
                    $('.excel-general').find('img').css('opacity', 0.5);
                    $('.excel-general').find('img').css('cursor', 'auto');
                    $('.excel-general').removeClass('excel-clickable');

                    if( dataOpen == 'ss-main-container-zonas-areas-detail' ||
                        dataOpen == 'ss-main-container-zonas-detail' ||
                        dataOpen == 'ss-main-container-areas-detail' ||
                        dataOpen == 'ss-main-container-division' ||
                        dataOpen == 'ss-main-container-tipo-personal' ||
                        dataOpen == 'ss-main-container-tipo-personal-area' ||
                        dataOpen == 'ss-main-container-personal' ||
                        dataOpen == 'ss-main-container-personal-area'
                    ) {
                        $('.carta-general').find('img').css('opacity', 1);
                        $('.carta-general').find('img').css('cursor', 'pointer');
                        $('.carta-general').attr('data-target', '#myModalGeneral');
                        $('.excel-general').find('img').css('opacity', 1);
                        $('.excel-general').find('img').css('cursor', 'pointer');
                        $('.excel-general').attr('data-target', '#myModalGeneral');
                        $('.excel-general').addClass('excel-clickable');
                    }

                    $('.ss-container').hide();
                    $('#seguimiento-content').append(elementToShow);
                    addBreadcrumb($this);
                    $('#loadingDiv').hide();
                    addIds();
                    addExcel($this.attr('course-id'));
                }
            });
        }

        $(document).on('click', '.element-clickable', function() {
            openDataSS($(this).attr('data-open'), $(this));
        });

        $(document).on("click", '.personal-clickable, .logo-mail-clickable', function () {
            var id = $(this).data('id');
            $("#myModalBtn").attr('id-user', id);
        });

        $(document).on("click", '.carta-general', function () {
            var ids = $(this).attr('user-ids');
            $("#myModalGeneralBtn").attr('id-users-all', ids);
        });

        $(document).on('click', '#myModalGeneralBtn', function() {
            var dataGeneral = {
                idUsersAll: $(this).attr('id-users-all'),
                message: $('#message-text-all').val()
            };

            $.ajax({
                type: "POST",
                url: "email.php",
                data: dataGeneral,
                success: function(){
                    $('.success').fadeIn(1000);
                }
            });
        });

        $(document).on('click', '#myModalBtn', function() {
            var data = {
                idUser: $(this).attr('id-user'),
                message: $('#message-text').val()
            };

            $.ajax({
                type: "POST",
                url: "email.php",
                data: data,
                success: function(){
                    $('.success').fadeIn(1000);
                }
            });
        });

        $(document).on('click', '#modalXLS', function() {
            if($(this).hasClass('excel-clickable')) {
                courseId = $(this).attr('course-id')
                var page = "excel.php?course_id="+courseId;
                window.location = page;
            }
        });

        $(document).on('click', '.cert-download', function() {
                var page = "downloadCerts.php";
                window.location = page;
        });

{{/js}}