{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/columns2

    Admin time setting template.

    remui 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_remui/head }}

<body {{{ bodyattributes }}}>
{{> theme_remui/navbar }}
<div id="page-wrapper">
{{{ output.standard_top_of_body_html }}}
<div id="page">
    <div class="edwiser-notice position-fixed mt-10" style="display: none; z-index: 1500;left: 50%;transform: translateX(-50%);" role="alert">
    </div>
{{{ output.render_site_announcement }}}
{{#homepage}}
    <div>
{{/homepage}}
{{^homepage}}
    <div class="container p-0 mw-100">
        <div class="cover card card-inverse rem-staticimage border-0">
            <img style="height: 35vh;" class="card-img w-full" src="{{URL}}" alt="Card image">
            <div class="carousel-caption cover-background centered card-img-overlay w-p75 white" style="padding-top: 35px !important; left: 14% !important;">
                <div class="text_to_html">
                    <div style="text-align:left;font-size: 3vh;padding-left: 2px;">Bienvenido</div>
                    <div style="text-align:left;">
                        <div class="dd-username-label">{{username}}</div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0;">
                    {{{levelbadge}}}
                    <div class="d-info-level">
                        <div class="text-left" style="font-size: 2.2vh;">Nivel: {{levelname}}</div>
                        <div>{{{progressbar}}}</div>
                        <div class="text-left d-level-text">{{points}} millas naúticas obtenidas</div>
                    </div>
                </div>
            </div>
        </div>
{{/homepage}}
<div id="page-content" class="row {{^homepage}}pb-3{{/homepage}} {{#homepage}}m-0 w-p10 pb-0{{/homepage}}">

    <div style="text-align: center; margin: auto; width: 75%; height: 100%">
        <div class="container mt-5 mb-5">
            <div class="row" style="padding-bottom: 2%; padding-left: 6%;">
                <div class="col-sm" style="width: 70%;">
                    <div style="text-align: left;color: #154A7D; font-weight: 500;font-size: 22px;float: left;">Cursos pendientes</div>
                </div>
                <div class="col-sm" style="width: 20%; max-width: 25%;">
                    <i type="button" class="prev fa fa-chevron-left dd-fa-disabled" style="font-size:24px; color: #154A7D"></i>
                    <i type="button" class="next fa fa-chevron-right" style="font-size:24px; color: #154A7D; padding-left: 5%"></i>
                </div>
            </div>
            <div class="viewport">
                <input type="hidden" id="totalCourses" value="{{{totalcourses}}}">
                <div class="slider">
                    {{{pendingCoursesHtml}}}
                </div>
            </div>
            <div style="margin-top: 3%;">
                <div style="width: 92%; margin: auto;">
                    <div style="text-align: left; color: #154A7D; padding-bottom: 2%; font-weight: 500; font-size: 22px; padding-right: 42.5%; padding-left: 3%;">Mis cursos</div>
                    <div>
                        <div class="row" style="margin: auto;">
                            {{{courseshtml}}}
                        </div>
                    </div>
                </div>
                <div class="pt-5 pb-4">
                    <input type="button"
                           style="background: #A8A9AD 0 0 no-repeat padding-box; border-radius: 4px; color: #FFFFFF; width: 20vh; height: 4vh; vertical-align: center; font-size: 1.5vh; line-height: 2px;" id="loadMore"
                           class="btn-sm"
                           value="Cargar más cursos"/>
                </div>
            </div>
            {{{seguimientoHtml}}}
        </div>
    </div>

<div id="region-main-box" style="margin: auto; width: 70%;">
{{#hasregionmainsettingsmenu}}
        <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
            <div> {{{ output.region_main_settings_menu }}} </div>
        </div>
{{/hasregionmainsettingsmenu}}
{{> theme_remui/page_aside}}

<section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">
    {{#hasregionmainsettingsmenu}}
        <div class="region_main_settings_menu_proxy"></div>
    {{/hasregionmainsettingsmenu}}
    {{{ output.course_content_header }}}
    {{{ output.main_content }}}
    {{{ output.activity_navigation }}}
    {{{ output.course_content_footer }}}
</section>

{{> theme_remui/common_end }}
{{#js}}
require(['theme_remui/loader'], function () {
  Breakpoints();
});
{{/js}}