<section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">
    {{#hasregionmainsettingsmenu}}
        <div class="region_main_settings_menu_proxy"></div>
    {{/hasregionmainsettingsmenu}}
    {{{ output.course_content_header }}}
    {{{ output.main_content }}}
    {{{ output.activity_navigation }}}
    {{{ output.course_content_footer }}}
</section>

{{> theme_remui/common_end }}