<div id="app">
    <div class="explorer" id="explorer">
        <h3>SEGUIMIENTO DE USUARIOS</h3>
        <div id="general" v-if="general">
            <h4>Selecciona un curso para ver el progreso de los estudiantes</h4>
            <div class="primary">
                <div class="search">
                    <input type="text" placeholder="Buscar Curso" v-model="searchCursos"/>
                </div>
                <div class="header">
                    <div class="item pointer" @click="changeOrder()">
                        <div class="icon"><span v-bind:class="{ disabled: order }">▲</span><span v-bind:class="{ disabled: !order }">▼</span></div><span>Curso</span>
                    </div>
                    <div class="item">Estudiante</div>
                    <div class="item">Lanzamiento</div>
                    <div class="item">Progreso</div>
                </div>
                <div class="body">
                    <div class="list" v-for="item in searchCourse">
                        <div class="item pointer" @click="viewUser(item.id)">{(item.name)}</div>
                        <div class="item">{(item.numEstu)} estudiantes</div>
                        <div class="item">{(item.date)}</div>
                        <div class="item relative">
                            <div class="circlechart" :data-percentage="item.progress"></div><span>{(item.progress)}%</span>
                        </div>
                        <div class="item">
                            <a :href="'../user/index.php?id=' + item.id">
                                <img src="/local/dashboard/imgpanel/usuario.svg" alt=""/>
                            </a>
                            <a :href="'../report/progress/index.php?course=' + item.id">
                                <img src="/local/dashboard/imgpanel/estadistica.svg" alt=""/>
                            </a>
                            <a :href="'excel.php?course_id=' + item.id">
                                <img src="/local/dashboard/imgpanel/excel.svg" alt=""/>
                            </a>
                            <span @click="showModal()">
                                <img src="/local/dashboard/imgpanel/mail.svg" alt=""/>
                            </span>
<!--                        <a href="#">-->
<!--                           <img src="/local/dashboard/imgpanel/explora.svg" alt=""/>-->
<!--                        </a>-->
                            <a :href="'downloadCerts.php?idCurso=' + item.id">
                                <img src="/local/dashboard/imgpanel/descargar.svg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 200px;"></div>
        </div>
        <div id="cursos" v-if="users">
            <h4 class="primary">{(act.name)}</h4>
            <div class="close" @click="close()">X</div>
            <div class="primary usuarios">
                <div class="search">
                    <a href="#">
                        <img src="/local/dashboard/imgpanel/excel.svg"/>
                        <span>Descargar Excel</span>
                    </a>
                    <a href="#">
                        <img src="/local/dashboard/imgpanel/descargar.svg"/><span>Descargar certificados</span>
                    </a>
                    <input type="text" placeholder="Buscar usuario" v-model="searchAlumnos" @keyup="searchName()"/>
                </div>
                <div class="header">
                    <div class="item">
                        <input type="checkbox" name=""/>
                    </div>
                    <div class="item pointer" @click="changeOrderUser()">
                        <div class="icon"><span v-bind:class="{ disabled: orderUser }">▲</span><span v-bind:class="{ disabled: !orderUser }">▼</span></div><span>Usuario</span>
                    </div>
                    <div class="item pointer" @click="activeSubmenu('gerencia')"><span>Gerencia</span>
                        <div class="icon-menu"><span>▼</span></div>
                        <div class="sub-menu" id="gerencia">
                            <div class="item" v-for="item in gerenciasList" @click="filterGerencia(item.name)">{(item.name)}</div>
                        </div>
                    </div>
                    <div class="item pointer" @click="activeSubmenu('area')"><span>Área</span>
                        <div class="icon-menu"><span>▼</span></div>
                        <div class="sub-menu" id="area">
                            <div class="item" v-for="item in areasList" @click="filterArea(item.name)">{(item.name)}</div>
                        </div>
                    </div>
                    <div class="item pointer" @click="activeSubmenu('zona')"><span>Zona</span>
                        <div class="icon-menu"><span>▼</span></div>
                        <div class="sub-menu" id="zona">
                            <div class="item" v-for="item in zonasList" @click="filterZona(item.name)">{(item.name)}</div>
                        </div>
                    </div>
                    <div class="item">Progreso</div>
                </div>
                <div class="body">
                    <div class="list" v-for="item in searchUsers">
                        <div class="item">
                            <input type="checkbox"/><span @click="showModal()"><img src="/local/dashboard/imgpanel/mail.svg" alt=""/></span>
                        </div>
                        <div class="item pointer">{(item.name)}</div>
                        <div class="item">{(item.gerencia)}</div>
                        <div class="item">{(item.area)}</div>
                        <div class="item">{(item.zona)}</div>
                        <div class="item relative">
                            <div class="circlechart" :data-percentage="item.progress"></div><span>{(item.progress)}%</span>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a href="">
                        <span>
                            <img src="/local/dashboard/imgpanel/mail.svg" alt=""/>
                        </span>
                        <span>
                            Enviar recordatorio a seleccionados
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="qroma-modal">
                <div class="title">
                    <h4>Enviar mensaje</h4>
                    <div class="close" @click="closeModal()">X</div>
                </div>
                <div class="content">
                    <textarea name="" cols="30" rows="10"></textarea>
                </div>
                <div class="footer">
                    <div class="btn btn-defauld">Cancelar</div>
                    <div class="btn btn-info">Aceptar</div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/local/dashboard/css/panel.css">
<link rel="stylesheet" href="/local/dashboard/css/progresscircle.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/local/dashboard/js/progresscircle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script src="/local/dashboard/js/panel.js"></script>