.boya
    margin-top -80px;
    margin-left -60px
    &:nth-child(1)
        left 23.3%
        top 87%
        &.active ~ .boatch
            top 78%
            left 26%
        .point
            &::before                        
                right -18px
    &:nth-child(2)
        left 20.5%
        top 62%
        &.active ~ .boatch
            top 48%
            left 22%
        .point
            &::before                        
                right -15px
                top 50px
    &:nth-child(3)
        left 30%
        top 29%
        &.active ~ .boatch
            top 37%
            left 27%
        .point
            &::before                        
                right 20px
                bottom -15px
    &:nth-child(4)
        left 46.5%
        top 41.5%
        &.active ~ .boatch
            top 44%
            left 32%
        .point
            &::before                        
                left 0px
                bottom: -10px 
    &:nth-child(5)
        left 55.5%
        top 61.5%
        &.active ~ .boatch
            top 70%
            left 48%
        .point
            &::before                        
                right 30%
                bottom -15px
    &:nth-child(6)
        left 70.5%
        top 70.8%
        &.active ~ .boatch
            top 79%
            left 63.5%
        .point
            &::before                        
                right 20px
                bottom -15px
    &:nth-child(7)
        left 77.5%
        top 37%
        &.active ~ .boatch
            top 47%
            left 74%
        .point
            &::before                        
                right 0px
                bottom -15px
    @media(max-width:1024px){
        &:nth-child(1){
            left: calc(50% - 80px);
            top 95%
            &.active ~ .boatch{
                top 91%
                left 45%
            }
        }
        &:nth-child(2){
            left: calc(90% - 80px);
            top 82%
            &.active ~ .boatch{
                top 78%
                left 37%
            }
        }
        &:nth-child(3){
            left: calc(50% - 80px);
            top 69%
            &.active ~ .boatch{
                top 65%
                left 45%
            }
        }
        &:nth-child(4){
            left: calc(90% - 80px);
            top 56%
            &.active ~ .boatch{
                top 52%
                left 37%
            }
        }
        &:nth-child(5){
            left: calc(50% - 80px);
            top 42%
            &.active ~ .boatch{
                top 38%
                left 45%
            }
        }              
        &:nth-child(6){
            left: calc(90% - 80px);
            top 29%
            &.active ~ .boatch{
                top 25%
                left 37%
            }
        }
        &:nth-child(7){
            left: calc(50% - 80px);
            top 16.5%
            &.active ~ .boatch{
                top 12%
                left 45%
            }
        }
        @media(max-height: 768px){
            &:nth-child(1){
                left: calc(47.5% - 80px);
                top 95%
                &.active ~ .boatch{
                    top 91%
                    left 45%
                }
            }
            &:nth-child(2){
                left: calc(83% - 80px);
                top 82%
                &.active ~ .boatch{
                    top 78%
                    left 37%
                }
            }
            &:nth-child(3){
                left: calc(47.5% - 80px);
                top 69%
                &.active ~ .boatch{
                    top 65%
                    left 45%
                }
            }
            &:nth-child(4){
                left: calc(83% - 80px);
                top 55%
                &.active ~ .boatch{
                    top 52%
                    left 37%
                }
            }
            &:nth-child(5){
                left: calc(47.5% - 80px);
                top 42%
                &.active ~ .boatch{
                    top 38%
                    left 45%
                }
            }              
            &:nth-child(6){
                left: calc(83% - 80px);
                top 28%
                &.active ~ .boatch{
                    top 25%
                    left 37%
                }
            }
            &:nth-child(7){
                left: calc(48.5% - 80px);
                top 16.5%
                &.active ~ .boatch{
                    top 12%
                    left 45%
                }
            }
        }
        @media(max-height:480px){
            &:nth-child(1){
                left: 10%;
                top 93%
                &.active ~ .boatch{
                    top 10%
                    left 4%
                    height 80px
                    width: 110px
                }
            }
            &:nth-child(2){
                left: 23%;
                top 76%
                &.active ~ .boatch{
                    top 10%
                    left 17%
                    height 80px
                    width: 110px
                }
            }
            &:nth-child(3){
                left: 36%;
                top 58%
                &.active ~ .boatch{
                    top 10%
                    left 31%
                    height 80px
                    width: 110px
                }
            }
            &:nth-child(4){
                left: 49%;
                top 40%
                &.active ~ .boatch{
                    top 10%
                    left 43%
                    height 80px
                    width: 110px
                }
            }
            &:nth-child(5){
                left: 62%;
                top 21%
                &.active ~ .boatch{
                    top 10%
                    left 56%
                    height 80px
                    width: 110px
                }
            }              
            &:nth-child(6){
                left: 75%;
                top 21%
                &.active ~ .boatch{
                    top 10%
                    left 69%
                    height 80px
                    width: 110px
                }
            }
            &:nth-child(7){
                left: 88%;
                top 21%
                &.active ~ .boatch{
                    top 10%
                    left 82%
                    height 80px
                    width: 110px
                }
            }
        }
    }
    @media(max-width: 480px){
        &:nth-child(1){
            left: calc(50% - 20px);
            top 95%
            &.active ~ .boatch{
                top 89.5%
                left 50%
            }
        }
        &:nth-child(2){
            left: calc(50% - 20px);
            top 82%
            &.active ~ .boatch{
                top 76.5%
                left 50%
            }
        }
        &:nth-child(3){
            left: calc(50% - 20px);
            top 69%
            &.active ~ .boatch{
                top 63.5%
                left 50%
            }
        }
        &:nth-child(4){
            left: calc(50% - 20px);
            top 56%
            &.active ~ .boatch{
                top 50.5%
                left 50%
            }
        }
        &:nth-child(5){
            left: calc(50% - 20px);
            top 42%
            &.active ~ .boatch{
                top 36.5%
                left 50%
            }
        }              
        &:nth-child(6){
            left: calc(50% - 20px);
            top 29%
            &.active ~ .boatch{
                top 23.5%
                left 50%
            }
        }
        &:nth-child(7){
            left: calc(50% - 20px);
            top 16.5%
            &.active ~ .boatch{
                top 11%
                left 50%
            }
        }
    }