.boya {
  margin-top: -80px;
  margin-left: -60px;
}
.boya:nth-child(1) {
  left: 23.3%;
  top: 87%;
}
.boya:nth-child(1).active ~ .boatch {
  top: 78%;
  left: 26%;
}
.boya:nth-child(1) .point::before {
  right: -18px;
}
.boya:nth-child(2) {
  left: 20.5%;
  top: 62%;
}
.boya:nth-child(2).active ~ .boatch {
  top: 48%;
  left: 22%;
}
.boya:nth-child(2) .point::before {
  right: -15px;
  top: 50px;
}
.boya:nth-child(3) {
  left: 30%;
  top: 29%;
}
.boya:nth-child(3).active ~ .boatch {
  top: 37%;
  left: 27%;
}
.boya:nth-child(3) .point::before {
  right: 20px;
  bottom: -15px;
}
.boya:nth-child(4) {
  left: 46.5%;
  top: 41.5%;
}
.boya:nth-child(4).active ~ .boatch {
  top: 44%;
  left: 32%;
}
.boya:nth-child(4) .point::before {
  left: 0px;
  bottom: -10px;
}
.boya:nth-child(5) {
  left: 55.5%;
  top: 61.5%;
}
.boya:nth-child(5).active ~ .boatch {
  top: 70%;
  left: 48%;
}
.boya:nth-child(5) .point::before {
  right: 30%;
  bottom: -15px;
}
.boya:nth-child(6) {
  left: 70.5%;
  top: 70.8%;
}
.boya:nth-child(6).active ~ .boatch {
  top: 79%;
  left: 63.5%;
}
.boya:nth-child(6) .point::before {
  right: 20px;
  bottom: -15px;
}
.boya:nth-child(7) {
  left: 77.5%;
  top: 37%;
}
.boya:nth-child(7).active ~ .boatch {
  top: 47%;
  left: 74%;
}
.boya:nth-child(7) .point::before {
  right: 0px;
  bottom: -15px;
}
@media (max-width: 1024px) {
  .boya:nth-child(1) {
    left: calc(50% - 80px);
    top: 95%;
  }
  .boya:nth-child(1).active ~ .boatch {
    top: 91%;
    left: 45%;
  }
  .boya:nth-child(2) {
    left: calc(90% - 80px);
    top: 82%;
  }
  .boya:nth-child(2).active ~ .boatch {
    top: 78%;
    left: 37%;
  }
  .boya:nth-child(3) {
    left: calc(50% - 80px);
    top: 69%;
  }
  .boya:nth-child(3).active ~ .boatch {
    top: 65%;
    left: 45%;
  }
  .boya:nth-child(4) {
    left: calc(90% - 80px);
    top: 56%;
  }
  .boya:nth-child(4).active ~ .boatch {
    top: 52%;
    left: 37%;
  }
  .boya:nth-child(5) {
    left: calc(50% - 80px);
    top: 42%;
  }
  .boya:nth-child(5).active ~ .boatch {
    top: 38%;
    left: 45%;
  }
  .boya:nth-child(6) {
    left: calc(90% - 80px);
    top: 29%;
  }
  .boya:nth-child(6).active ~ .boatch {
    top: 25%;
    left: 37%;
  }
  .boya:nth-child(7) {
    left: calc(50% - 80px);
    top: 16.5%;
  }
  .boya:nth-child(7).active ~ .boatch {
    top: 12%;
    left: 45%;
  }
}
@media (max-width: 480px) {
  .boya:nth-child(1) {
    left: calc(50% - 20px);
    top: 95%;
  }
  .boya:nth-child(1).active ~ .boatch {
    top: 89.5%;
    left: 50%;
  }
  .boya:nth-child(2) {
    left: calc(50% - 20px);
    top: 82%;
  }
  .boya:nth-child(2).active ~ .boatch {
    top: 76.5%;
    left: 50%;
  }
  .boya:nth-child(3) {
    left: calc(50% - 20px);
    top: 69%;
  }
  .boya:nth-child(3).active ~ .boatch {
    top: 63.5%;
    left: 50%;
  }
  .boya:nth-child(4) {
    left: calc(50% - 20px);
    top: 56%;
  }
  .boya:nth-child(4).active ~ .boatch {
    top: 50.5%;
    left: 50%;
  }
  .boya:nth-child(5) {
    left: calc(50% - 20px);
    top: 42%;
  }
  .boya:nth-child(5).active ~ .boatch {
    top: 36.5%;
    left: 50%;
  }
  .boya:nth-child(6) {
    left: calc(50% - 20px);
    top: 29%;
  }
  .boya:nth-child(6).active ~ .boatch {
    top: 23.5%;
    left: 50%;
  }
  .boya:nth-child(7) {
    left: calc(50% - 20px);
    top: 16.5%;
  }
  .boya:nth-child(7).active ~ .boatch {
    top: 11%;
    left: 50%;
  }
}
@media (max-width: 1024px) and (max-height: 768px) {
  .boya:nth-child(1) {
    left: calc(47.5% - 80px);
    top: 95%;
  }
  .boya:nth-child(1).active ~ .boatch {
    top: 91%;
    left: 45%;
  }
  .boya:nth-child(2) {
    left: calc(83% - 80px);
    top: 82%;
  }
  .boya:nth-child(2).active ~ .boatch {
    top: 78%;
    left: 37%;
  }
  .boya:nth-child(3) {
    left: calc(47.5% - 80px);
    top: 69%;
  }
  .boya:nth-child(3).active ~ .boatch {
    top: 65%;
    left: 45%;
  }
  .boya:nth-child(4) {
    left: calc(83% - 80px);
    top: 55%;
  }
  .boya:nth-child(4).active ~ .boatch {
    top: 52%;
    left: 37%;
  }
  .boya:nth-child(5) {
    left: calc(47.5% - 80px);
    top: 42%;
  }
  .boya:nth-child(5).active ~ .boatch {
    top: 38%;
    left: 45%;
  }
  .boya:nth-child(6) {
    left: calc(83% - 80px);
    top: 28%;
  }
  .boya:nth-child(6).active ~ .boatch {
    top: 25%;
    left: 37%;
  }
  .boya:nth-child(7) {
    left: calc(48.5% - 80px);
    top: 16.5%;
  }
  .boya:nth-child(7).active ~ .boatch {
    top: 12%;
    left: 45%;
  }
}
@media (max-width: 1024px) and (max-height: 480px) {
  .boya:nth-child(1) {
    left: 10%;
    top: 93%;
  }
  .boya:nth-child(1).active ~ .boatch {
    top: 10%;
    left: 4%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(2) {
    left: 23%;
    top: 76%;
  }
  .boya:nth-child(2).active ~ .boatch {
    top: 10%;
    left: 17%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(3) {
    left: 36%;
    top: 58%;
  }
  .boya:nth-child(3).active ~ .boatch {
    top: 10%;
    left: 31%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(4) {
    left: 49%;
    top: 40%;
  }
  .boya:nth-child(4).active ~ .boatch {
    top: 10%;
    left: 43%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(5) {
    left: 62%;
    top: 21%;
  }
  .boya:nth-child(5).active ~ .boatch {
    top: 10%;
    left: 56%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(6) {
    left: 75%;
    top: 21%;
  }
  .boya:nth-child(6).active ~ .boatch {
    top: 10%;
    left: 69%;
    height: 80px;
    width: 110px;
  }
  .boya:nth-child(7) {
    left: 88%;
    top: 21%;
  }
  .boya:nth-child(7).active ~ .boatch {
    top: 10%;
    left: 82%;
    height: 80px;
    width: 110px;
  }
}
