body {
    font-family: 'Catamaran', sans-serif !important;
}

.terminologia-max-width-100 {
    max-width: 100%;
}

.header-container-terminologia {
    position: relative;
    height: 310px;
    background: url('../img/img-cabecera.png');
}

.title-container-terminologia {
    position: absolute;
    left: 7%;
    top: 50%;
}

.title-terminologia {
    font-size: 48px;
    color: white;
    height: 0;
}

.title-link {
   font-weight: bold;
}

.subtitle-terminologia {
    font-size: initial;
    color: white;
    padding-top: 17%;
}

.pagination {
    margin: 20px 0;
}

@media only screen and (max-device-width : 640px) {
    .pagination {
        margin: 20px 0;
        display: table;
    }
    .list-letter-results-table {
        margin: auto;
        table-layout: fixed !important;
        width: 80% !important;
        border-collapse: unset;
        border-spacing: 20px;
    }
    .sugerir-btn {
        width: 30% !important;
    }
    .buscados-table {
        border-collapse: unset;
        border-spacing: 20px;
        padding-bottom: 2%;
        margin: 0 auto;
        table-layout: fixed !important;
        width: 80%;
    }
    .buscados-table div{
        position: relative;
        padding-top: 6%;
        padding-left: 7%;
        width: 100% !important;
        height: 75px;
        background: #4DB8E8 0% 0% no-repeat padding-box;
        box-shadow: 2px 2px 4px #00000029;
        border-radius: 6px;
        opacity: 1;
        color: #ffffff;
        border: 0;
        text-align: left;
        font-weight: bold;
    }
}

@media only screen and (max-device-width: 768px) {
    .pagination {
        margin: 20px 0;
        display: table;
    }
    .list-letter-results-table {
        margin: auto;
        table-layout: fixed !important;
        width: 80% !important;
        border-collapse: unset;
        border-spacing: 20px;
    }
    .sugerir-btn {
        width: 30% !important;
    }
    .buscados-table {
        border-collapse: unset;
        border-spacing: 20px;
        padding-bottom: 2%;
        margin: 0 auto;
        table-layout: fixed !important;
        width: 80%;
    }
    .buscados-table div{
        position: relative;
        padding-top: 6%;
        padding-left: 7%;
        width: 100% !important;
        height: 75px;
        background: #4DB8E8 0% 0% no-repeat padding-box;
        box-shadow: 2px 2px 4px #00000029;
        border-radius: 6px;
        opacity: 1;
        color: #ffffff;
        border: 0;
        text-align: left;
        font-weight: bold;
    }
}

.alphabet-container {
    position: relative;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: Catamaran , Regular;
}

.alphabet-container-select {
    width: 50%;
    margin: auto;
    padding-top: 5%;
}

.search-input-container {
    width: 500px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
}

.search-input {
    margin: auto;
    position: relative;
    margin-top: 8.5% !important;
    margin-bottom: 9% !important;;
    margin-left: 8% !important;;
    border: 0 !important;;
    width: 400px;
    height: 32.5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #184A7D;
    opacity: 0.5; /* Firefox */
    padding: 10px;
}

.buscados-container {
    margin: auto;
    left: 0px;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.big-title {
    font-size: 44px;
    text-align: center;
    padding: 2%;
    letter-spacing: 0px;
    color: #154A7D;
    opacity: 1;
}

.sugerencia-title {
    padding: 0;
    padding-top: 3%; !important;
}

.buscados-table {
    border-collapse: unset;
    border-spacing: 20px;
    padding-bottom: 2%;
    margin: 0 auto;
}

.buscados-table div{
    position: relative;
    padding-top: 6%;
    padding-left: 7%;
    height: 75px;
    width: 240px;
    background: #4DB8E8 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #00000029;
    border-radius: 6px;
    opacity: 1;
    color: #ffffff;
    border: 0;
    text-align: left;
    font-weight: bold;
}
.big-letter-results-container {
    position: relative;
    text-align: center;
    color: #76a140;
    font-size: 100px;
    font-weight: bold;
}
.list-letter-results-table {
    margin: auto;
    width: 40%;
    border-collapse: unset;
    border-spacing: 20px;
}

.list-letter-results-table div{
    position: relative;
    margin: auto;
    padding: 8px;
    height: 75px;
    width: 100%;
    background: #4DB8E8 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 4px #00000029;
    border-radius: 6px;
    opacity: 1;
    color: #FFFFFF;
}

.list-letter-results-table td{
    width: 33%;
}

.result-value {
    border: 0;
}

.sugerencia-letter-results-container {
    position: relative;
    text-align: center;
    height: 50%;
    width: 100%;
    background: #F8F8F8 0% 0% no-repeat padding-box;
}

.sugerencia-letter-title {
    position: relative;
    padding-top: 3%;
    text-align: center;
    letter-spacing: 0px;
    color: #C4C4C4;
    opacity: 1;
}

.sugerencia-letter-button {
    padding-top: 1%;
    padding-bottom: 2%;
}

.sugerencia-letter-input {
    padding: 1.5%;
}

.sugerir-btn {
    width: 10%;
}

.sugerencia-input {
    width: 32% !important;
    margin: auto !important;
    height: 29px !important;
}

.termino-detail-container-box {
    margin: auto;
    width: 60%;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.termino-detail-container-name {
    color: #76A140;
    opacity: 1;
    text-align: left;
    font-size: xxx-large;
    font-weight: bold;
}
.termino-detail-container-origin {
    position: relative;
    margin-top: 1%;
    height: 22px;
    width: 80%;
    text-align: left;
    letter-spacing: 0;
    font-weight: bold;
    color: #373A3C;
    opacity: 1;
    float: left;
}

.termino-detail-container-action {
    float:right;
    width: 20%;
}

.termino-detail-container-description {
    position: relative;
    margin-top: 1%;
    width: 80%;
    text-align: left;
    letter-spacing: 0px;
    color: #373A3C;
}
.termino-detail-container-image {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50px;
    text-align: left;
    color: #373a3c;
}

.terminos-sugeridos-title {
    position: relative;
    margin-top: 1%;
    text-align: center;
    color: #c4c4c4;
}

.terminos-sugeridos-list {
    margin: auto;
    width: 65%;
    padding-bottom: 1%;
    text-align: center;
}

.terminos-sugeridos-button-container {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 2%;

}

.body-maintenance-title {
    text-align: center;
    margin-top: 2%;
    letter-spacing: 0px;
    color: #C4C4C4;
    opacity: 1;
}

.body-maintenance-content {
    padding-top: 1%;
    margin: auto;
    width: 50%;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}

.body-maintenance-content-name {
    position: relative;
    padding-bottom: 6%;
}

.input-text {
    position: relative;
    height: 10px;
    width: 70% !important;
}

.input-textarea {
    width: 90% !important;
}

.terminos-sugeridos-button-add {
    position: relative;
    margin-top: 1%;
    text-align: center;
    background: #76A140 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 27px;
    opacity: 1;
}

.body-maintenance-content-button {
    text-align: center;
    padding: 3%;
    margin: auto;
    width: 30%;
}

.body-maintenance-content-button-cancel {
    position: relative;
    text-align: center;
    padding: 2%;
}

.terminos-sugeridos-button-cancel {
    color: #373A3C;
}

.search-dropdown {
    float: left;
    top: 56% !important;
    left: 10% !important;
    display: block !important;
}

.search-results-subtitle {
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.edit-delete-buttons {
    font-size: large !important;
    color: #51B6EB;
}

.sugeridos-list-item {
    border-color: #c4c9ce;
}

li:first-child a{border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
li:last-child a{border-top-right-radius: 4px; border-bottom-right-radius: 4px;}

.page-link-terminologia {
    position: relative;
    display: block;
    padding: 0.443rem 1.072rem;
    margin-left: -1px;
    line-height: 1.57143;
    color: #154A7D;
    background-color: rgba(0,0,0,0);
    border: 0.5px solid #154A7D;
    opacity: 1;
}

.page-link-terminologia:hover {
    background-color: #51B6EB;
    color: white;
}

.page-link-terminologia.selected {
    background-color: #51B6EB;
    color: white;
}

.process-button {
    background: #76A140 0% 0% no-repeat padding-box !important;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    opacity: 1;
    color: white;
    width: 25%;
}
.confirm-term-button {
    width: 100% !important;
}

.search-button-term {
    border: 0 !important;
}

.search-button-term:hover {
    background-color: white !important;
}

.custom-file-upload {
    background-image: url('../img/file-upload.icon.svg');
    background-color: white;
    height: 70px;
    width: 70px;
}

.div-maintenance-termino {
    padding-left: 8%;
    padding-top: 7%;
}

.div-maintenance-termino-detail {
    padding-left: 5%;
    padding-top: 5%;
}

.input-term {
    height: 35% !important;
}

.padding-bottom-2 {
    padding-bottom: 2% !important;
}

.padding-bottom-5 {
    padding-bottom: 5% !important;
}

.height-90 {
    height: 90px !important;
}

.gray-background-color {
    background-color: #777777;
}

.padding-0 {
    padding: 0 !important;
}

.max-width-100 {
    max-width: 100% !important;
}

input[type="file"] {
    display: block;
}
.imageThumb {
    max-height: 75px;
    padding: 1px;
    cursor: pointer;
}
.pip {
    display: inline-block;
    position: relative;
}
.remove {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 35%;
    display: block;
    text-align: center;
    cursor: pointer;
}
.remove:hover {
    color: black;
}

.body-maintenance-content-images > input {
    display: none;
}

.resumen-titulo {
    padding: 1% !important;
}

.number-text {
    line-height: 5rem !important;
    font-weight: 500;
    margin-top: 5%;
}

.resumen-box {
    text-align: center;
    height: 140px;
    background: #F8F8F8 0 0 no-repeat padding-box;
    box-shadow: 2px 2px 6px #00000029;
    border-radius: 6px;
    color: #154A7D;
    opacity: 1;
}